<tr>
  <td><%= moon.name %></td>
  <td><%= moon.planet.name %></td>
  <td><%= link_to 'Show', moon %></td>
  <td><%= link_to 'Edit', edit_moon_path(moon) %></td>
  <td><%= link_to 'Destroy', moon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
