<p id="notice"><%= notice %></p>

<h1><%= @employee.name %></h1>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Role:</strong>
  <%= link_to @employee.role.name, role_path(@employee.role) %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
