<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @role.salary %>
</p>

<p>
  <strong>Vacancies:</strong>
  <%= @role.vacancies %>
</p>

<p>
  <strong>Employees:</strong>
    <% @role.employees.each do |employee| %>
    <li><%= link_to employee.name, employee_path(employee) %></li>
    <% end %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
