<section class="container">
  <div class="row title-banner">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>Browse all users below and click to view their projects.</h1>
      </div>
    </div>
  </div>
  <% creators.forEach(function(creator, i, creators){ %>
    <% if (i === 0 || i % 2 === 0) { %>
      <div class="row project-row">
    <% } %>
    <div class="col-xs-12 col-sm-6 project-box">
      <a href="/creators/<%= creator._id %>" class="thumbnail" style="
      background-image: linear-gradient(to left, rgba(<%= creator.colors[0].topLeft %>, 0.3), rgba(<%= creator.colors[0].bottomRight %>, 0.9)), url(<%= creator.imageUrls[0].banner %>);">
        <div style="height: 300px; width: 300px">
          <h3 class="title"><%= creator.name %></h3>
        </div>
      </a>
    </div>
    <% if ((i+1) % 2 === 0 || i === creators.length-1) { %>
      </div>
    <% } %>
  <% }) %>
</section>
