<!DOCTYPE html>
<html>
  <%- include ../partials/_head %>
  <body>
    <div class="jumbotron project" style="
    background-image: linear-gradient(to left, rgba(<%= creator.colors[0].topLeft %>, 0.3), rgba(<%= creator.colors[0].bottomRight %>, 0.9)), url(<%= creator.imageUrls[0].banner %>);">
      <div class="container">
        <%- include ../partials/_header %>
        <h1><%= creator.name %></h1>
        <a href="#intro"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
      </div>
    </div>
    <main class="project">
      <%- body %>
    </main>
    <%- include ../partials/_footer %>
  </body>
</html>
