<tr>
  <td><%= planet.name %></td>
  <td><%= planet.distance_from_sun %></td>
  <td><%= planet.mass %></td>
  <td><%= planet.rings %></td>
  <td><%= planet.life %></td>
  <td><%= link_to 'Show', planet %></td>
  <td><%= link_to 'Edit', edit_planet_path(planet) %></td>
  <td><%= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
