<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Distance from sun:</strong>
  <%= @planet.distance_from_sun %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @planet.mass %>
</p>

<p>
  <strong>Rings:</strong>
  <%= @planet.rings %>
</p>

<p>
  <strong>Life:</strong>
  <%= @planet.life %>
</p>

<p>
  <strong>Moons:</strong>
  <%= render @planet.moons %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
